.component {
  display: grid;
  grid-template-columns: 1rem 1fr auto;
  align-items: center;

  column-gap: 8px;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  padding-right: 16px;

  /* for transition */
  position: relative;
  transition: 0.5s transform;

  color: white;
}

.ranking {
  justify-self: end;
}

.name {
  justify-self: start;
  color: white;
}
